
html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
}

a{
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'Corporate-A-Bold';
    src: url('../fonts/Corporate-A-Bold.woff2') format('woff2'),
        url('../fonts/Corporate-A-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
// --------------------

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    &__top {    // .header__top
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    &__logo {
        margin-left: 115px;
    }

    &__nav {    // .header__nav

    }
}



.list {
    display: flex;
    column-gap: 30px;
    &__item {    // .list__item

    }

    &__link {    // .list__link
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: background .3s;

        &:hover{
            background-color: #C1A1D2;
        }
    }

    &__img {    // .list__img
    }
}

.header {
    background: #070A1B;
    &__content {    // .header__content
        background-image: url('../images/header-bg.png');
        min-height: calc(100vh - 100px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding-bottom: 50px;
    }
    &::before {
        content: '';
        background-image: url('../images/decor.png');
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 1;
        transform: translate(-50%, 50%);
    }
}

.title {
    font-family: 'Corporate-A-Bold';
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-descr {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer{
    background: #070A1B;
    &__inner {    // .footer__inner
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 300px;
    }
}

.section {
    &__title {    // .section__title
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: 'Corporate A';
        font-size: 18px;
        line-height: 120%;
        color: #F402A2;
    }
}

.concept {
    padding-top: 150px;
    margin-bottom: 150px;
    &__inner {    // .concept__inner
        max-width: 900px;
        margin-left: auto;
    }
    &__title {    // .concept__title

    }

    &__text {    // .concept__text
        font-size: 24px;
        margin-bottom: 25px;
        line-height: 120%;
    }

    &__img {    // .concept__img

    }
}

.premier {
    display: block;
    margin-bottom: 150px;
    &__inner {    // .premier__iner
        display: flex;
        justify-content: space-between;
        column-gap: 60px;
    }

    &__column {    // .premier__column
    }

    &__title {    // .premier__title
    }

    &__text {    // .premier__text
        margin-bottom: 12px;
    }

    &__img {    // .premier__img
        margin-bottom: 20px;
    }

    &__btn{
        display: block;
        width: 100%;
        text-align: center;
        padding: 14px;
        border: 1px solid #F402A2;
        font-family: 'Corporate-A-Bold';
        text-transform: uppercase;
        font-size: 18px;
        line-height: 120%;
        color: #F402A2;
        transition: all .3s;
        &:hover{
            border: 1px solid #53A1CB;
            color: #53A1CB;
        }
    }
}

.video {
    margin-bottom: 150px;
    &__img {    // .video__img
        margin-bottom: 25px;
    }

    &__btn {    // .video__btn
        gap: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        padding: 14px;
        border: 1px solid #F402A2;
        font-family: 'Corporate-A-Bold';
        text-transform: uppercase;
        font-size: 18px;
        line-height: 120%;
        color: #F402A2;
        transition: all .3s;
        span {
            padding-top: 2px;
        }
        path {
            fill: #F402A2;
            transition: all .3s;
        }
        &:hover{
            border: 1px solid #53A1CB;
            color: #53A1CB;
            path {
                fill:#53A1CB ;
            }
        }
    }
}

.design {

		&__interior {		// .design__interior
            display: grid;
            grid-template-columns: 255px 255px auto 330px;
            grid-template-rows: auto auto;
            gap: 14px 44px;
            margin-bottom: 100px;
        }

		&__cell-one {		// .design__cell
            grid-row: 1/3;
        }
		&__cell-two {		// .design__cell
            grid-row-end: -1;
            display: flex;
            align-items: flex-end;
        }
		&__cell-three {		// .design__cell
            grid-row-end: -1;
            grid-column-end: -1;
            display: flex;
            align-items: flex-end;
            padding-bottom: 15px;
        }
		&__cell-four {		// .design__cell
            grid-column: 2/-1;
        }
        
		&__cell-text {		// .design__cell-text
            margin-bottom: 15px;
        }

		&__interior-img {		// .design__interior-img

        }
}

.design-slider {
    padding-bottom: 25px;
    &__item {
        // margin: 0 30px;
    }
}
.slick-track{
    display: flex;
    gap: 60px;
    // margin-left: -30px;
}
.arrow {
    max-width: 50px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    bottom: 0;
    left: 50%;

}
.arrow-left{
    transform: translateX(-80px);
}
.arrow-right{
    transform: translateX(30px);
}

.design {
    &__box {    // .design__box
        max-width: 590px;
        margin: 150px auto;
        padding: 0 10px;
        display: flex;
        gap: 60px;
    }

    &__box-column {    // .design__box-column
        max-width: 255px;
    }
    &__box-text {    // .design__box-text
        margin-bottom: 15px;
    }
}
@media (max-width: 1366px) { 
    .footer__inner{
        height: 150px;
    }
}
@media (max-width: 1020px) {
    .design__interior{
        display: block;
    }
}

@media (max-width: 768px) {
    .header__logo{
        margin: 0;
    }
    .logo__img{
        width: 180px;
    }
    .list {
        column-gap: 15px;
        &__link{
            width: 35px;
            height: 35px;
        }
    }
    .title {
        font-size: 55px;
    }
    .title-descr{
        font-size: 16px;
    }
    .design__box {
        margin: 75px auto;
        display: block;
    }
    .design__box-column{
        max-width: 100%;
    }
}

@media (max-width: 520px) {
    .header__top{
        flex-wrap: wrap;
        align-content: center;
    }
    .list{
        width: 100%;
        justify-content: center;
        padding-top: 10px;
    }
    .concept{
        padding-top: 75px;
        margin-bottom: 75px;
        &__text{
            font-size: 16px;
        }
    }
    .premier{
        margin-bottom: 75px;
        &__inner{
            display: block;
        }
        &__img{
            margin-top: 25px;
        }
    }
    .video{
        margin-bottom: 75px;
    }
    .footer__inner{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .footer .list{
        
        width: 100%;
    }
}